@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/plantsBG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
#faq{
    padding: 30px;
    display: block;
    
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    width: 100%;
}
#faq h2{
    color: #fefef0;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
    
    color:rgb(17, 17, 17);
  }
li{
    color: black;
}
li:hover{
    transform: scale(1.02);
    
  }
  li{
    display: flex;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    border-bottom: #fffff0 1px solid;
    
  }
  ul,li,a:hover{
    color:#fffdd0;
  }
  ul{
    margin-top: 28px;
    padding: 20px;
    
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
.faq-answer{
    display: none;
    font-weight: 500;
    font-size: 15px;
}
.faq-question{
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.527);
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 110, 255);
    
}
.qna-container{
    padding: 30px;
    background-color: #fefef0;
}
.faq-question:hover{
    cursor: pointer;
    color: rgb(73, 141, 230);

}
.container{
    display: flex;
    flex-direction: column;
    width: 832px;
    
    
    grid-area: container;
}
.qna-container{
    display: flex;
    flex-direction: column;
    grid-area: qna-container;
}
footer{
    grid-area: footer;
}

.page{
    display: grid;
    /* grid-template: 350px / auto auto auto auto auto; */
    grid-template-columns: 16rem auto 1fr 1fr 0.5fr;
    grid-template-rows: 4rem auto 45px 1fr 1fr;
    grid-template-areas: 
      "sidebar container container container container"
      "sidebar container container container container"
      "sidebar qna-container qna-container qna-container qna-container"
      "sidebar qna-container qna-container qna-container qna-container"
      "sidebar footer footer footer footer";
      gap: 50px;
      height: 100%;
      animation:fadeIn 1s ease-in-out;
  }
  main{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    }
  #sidebar{
    grid-area: sidebar;
    padding: 20px;
    font-weight: bold;
    color: #333;
    font-size:30px;
  }
  
  #sidebar{
    font-weight: 700;
    font-size: 30px;
    height: 100vh;
    position: relative;
    border-radius: 0px 16px 16px 0px;
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
  }

  #sidebar li a{
    color: #333;
  }
  
  .plant-sidebar{
    position: absolute;
    top: 58%;
    right: 0%;
  }